<div class="container">
    <div class="container__header">
        <div class="container__header__search-bar">
            <p class="container__header__search-bar--label">Search Speakers</p>
            <app-search-bar [speakers]="speakers" (searchDataEvent)="updateResults($event)"></app-search-bar>
<!--            <div class="container__header__search-bar__messages">-->
<!--                <p *ngIf="isFetching">loading...</p>-->
<!--                <p *ngIf="searchResults.length === 0">Please try again</p>-->
<!--            </div>-->
        </div>

    </div>

    <div class="container__body">
        <div class="container__body__results">
            <mat-card class="container__body__results__card" *ngFor="let speaker of searchResults">
                <mat-card-title-group>
                        <mat-card-title class="container__body__results__card--title">{{speaker.name.title}} {{speaker.name.first}} {{speaker.name.last}}</mat-card-title>
                    <mat-card-subtitle>{{speaker.location.country}}</mat-card-subtitle>
                    <img mat-card-sm-image src="{{speaker.picture.medium}}" >
                </mat-card-title-group>
            </mat-card>
        </div>

<!--        <div class="container__body__speakers" *ngIf="speakers.length">-->
<!--            <mat-card *ngFor="let speaker of speakers">-->
<!--                <mat-card-title-group>-->
<!--                    <mat-card-title>{{speaker.name.title}} {{speaker.name.first}} {{speaker.name.last}}</mat-card-title>-->
<!--                    <mat-card-subtitle>{{speaker.location.country}}</mat-card-subtitle>-->
<!--                    <img mat-card-sm-image src="{{speaker.picture.medium}}" >-->
<!--                </mat-card-title-group>-->
<!--            </mat-card>-->
<!--        </div>-->
    </div>
</div>



