@import "src/styles";

.container {
    margin: 2em 10%;
    background: $cambridgeBlue;
    border-radius: 5px 5px 5px 5px;

    @media (max-width: $tablet) {
        margin: 1em 0;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;

        &__search-bar {

            &--search-label {
                font-size: 25px;
                font-family: "Futura";
            }

            &--select-label {
                font-size: 18px;
                font-family: "Futura";
            }
        }

        &__btn-container {
            padding-top: 1em;

            &--btn {
                background: $jet;
            }
        }

        &__messages {
            padding-top: 1em;

            &--search-term {
                font-weight: bold;
            }

            &--instructions {
                padding-top: 1em;
                font-size: 25px;
                font-family: "Futura";
            }
        }
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.5em;
        padding: 1em 0;
        border-radius: 0 0 5px 5px;

        @media (max-width: $tablet) {
            flex-direction: column;
        }

        &__list {
            flex: 2;

            &--title {
                font-family: "Futura";
                font-size: 20px;
                padding-left: 2em;
            }

            &__results {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                height: auto;
                padding: 2em;
                gap: 0.5em;

                &__card {
                    background: $mintCream;
                    width: 100%;
                    cursor: pointer;

                    &--title {
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }
}


