<div class="container">
    <div class="container__header">
        <div class="container__header__search-bar">
            <app-search-bar [speakers]="speakers" (searchDataEvent)="updateResults($event)"></app-search-bar>
        </div>
        <div class="container__header__messages">
            <p *ngIf="isFetching">loading...</p>
            <p *ngIf="searchResults.length === 0">Please try again</p>
        </div>
    </div>

    <div class="container__body">
        <div class="container__body__results">
            <mat-card *ngFor="let speaker of searchResults">
                <mat-card-title-group>
                    <mat-card-title>{{speaker.name.title}} {{speaker.name.first}} {{speaker.name.last}}</mat-card-title>
                    <mat-card-subtitle>{{speaker.location.country}}</mat-card-subtitle>
                    <img mat-card-sm-image src="{{speaker.picture.medium}}" >
                </mat-card-title-group>
            </mat-card>
        </div>

        <div class="container__body__speakers">
            <mat-card  *ngFor="let speaker of speakers">
                <mat-card-title-group>
                    <mat-card-title>{{speaker.name.title}} {{speaker.name.first}} {{speaker.name.last}}</mat-card-title>
                    <mat-card-subtitle>{{speaker.location.country}}</mat-card-subtitle>
                    <img mat-card-sm-image src="{{speaker.picture.medium}}" >
                </mat-card-title-group>
            </mat-card>
        </div>
    </div>
</div>



