// Colour
$jet: #141204;
$mintCream: #EAF4F4;
$cambridgeBlue: #92BFB1;

//Screen Size
$tablet: 850px;
$mobile: 600px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
